<h3>Events</h3>

<div class="action-bar">
  <div class="search-box">
    <div class="ui icon input">
      <i class="search icon"></i>
      <input type="text" placeholder="Search name or location" [(ngModel)]="keyword">
    </div>
  </div>
  <div class="create-new">
    <button class="ui button" [routerLink]="['/events/new']">Create New Event</button>
  </div>
</div>

<table class="ui very compact table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Event Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Capacity</th>
    <th>Free Entrance</th>
    <th>Actions</th>
  </tr></thead>
  <tbody>
  <tr *ngIf="!events">
    <td colspan="7">
      <div class="ui active centered inline loader"></div>
    </td>
  </tr>
  <tr *ngIf="(events | search:keyword).length === 0">
    <td colspan="7">
      <div class="center aligned">No data</div>
    </td>
  </tr>
  <tr *ngFor="let event of events | search:keyword">
    <td>{{event.id}}</td>
    <td>{{event.name}}</td>
    <td>{{event.location}}</td>
    <td>{{event.date | date:"short"}}</td>
    <td>{{capacityMap.nameById(event.capacity)}}</td>
    <td><i [class.check]="event.free" class="icon"></i></td>
    <td class="nowrap">
      <a [routerLink]="['/events/edit', event.id]">Edit</a> |
      <a href="javascript:void(0)" (click)="deleteEvent(event.id)">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
