<h3>{{id ? 'Change' : 'New'}} Event</h3>

<div style="display: flex; justify-content: center">
  <form class="ui form" [class.error]="invalid" autocomplete="off">
    <div class="ui error message" [class.hidden]="!invalid">
      <div class="header">
        There were some errors with your submission
      </div>
      <ul class="list">
        <li *ngFor="let message of messages">{{message}}</li>
      </ul>
    </div>
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Event Name" [(ngModel)]="event.name">
    </div>
    <div class="field">
      <label>Location</label>
      <input type="text" name="location" placeholder="Event Location" [(ngModel)]="event.location">
    </div>
    <div class="field">
      <label>Date</label>
      <div class="ui left icon input">
        <i class="calendar icon"></i>
        <input suiDatepicker placeholder="Event Date" name="date" [(ngModel)]="event.date" pickerMode="datetime">
      </div>
    </div>
    <div class="field">
      <label>Capacity</label>
      <sui-select name="capacity" class="selection" placeholder="Event Capacity"
                  [(ngModel)]="event.capacity"
                  [options]="capacities"
                  labelField="name"
                  valueField="id"
                  [isSearchable]="true"
                  #select>
        <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option"></sui-select-option>
      </sui-select>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" [(ngModel)]="event.free" name="private">
        <label>Free entrance</label>
      </div>
    </div>

    <div style="display: flex; justify-content: flex-end">
      <button [routerLink]="['/events']" class="ui basic button">Cancel</button>
      <button (click)="create()" class="ui button">{{id ? 'Update' : 'Create'}}</button>
    </div>
  </form>
</div>
