/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/semantic-ui-calendar/dist/calendar.min.css');

$title-color: darkgrey;

h3 {
  color: $title-color;
  border-bottom: 1px solid $title-color;
}
